{
  "root": true,

  "extends": [
    "airbnb",
    "plugin:prettier/recommended",
  ],

  "plugins": [
    "prettier"
  ],
  "prettier/prettier": [
    "error",
    {
      "endOfLine": "auto"
    }
  ],

  "env": {
    "browser": true,
    "node": true
  },

  "parser": "babel-eslint",

  "rules": {
    "react/forbid-foreign-prop-types": 2, // For babel-plugin-transform-react-remove-prop-types

    "jsx-a11y/click-events-have-key-events": 1, // TODO: enable

    "no-restricted-imports": 0, // TODO: enable with full RTL support

    "react/jsx-props-no-spreading": 0, // TODO: re-evaluate

    "react/no-deprecated": 1, // TODO: update to UNSAFE_componentWillReceiveProps
  },

  "overrides": [
    {
      "files": "test/**/*",
      "env": {
        "mocha": true,
      },
      "extends": "airbnb",
      "rules": {
        "react/jsx-props-no-spreading": 0,
        //"import/no-extraneous-dependencies": [2, {
          //"devDependencies": true
        //}],
        "indent": [2, 2, {
          "MemberExpression": "off"
        }],
      },
    },
  ],

  "settings": {
    "propWrapperFunctions": ["forbidExtraProps", "exact", "Object.freeze"],
    "import/resolver": "webpack"
    // "import/resolver": {
    //   "node": {
    //     "extensions": [".js", ".jsx", ".ts", ".tsx"]
    //   }
    // }
  }
}
