# Project dependencies
.yarn
.cache
*.pyc
node_modules
yarn-error.log

# Build directory
/build
/dist
.DS_Store
.sass-cache/
_posts/
_site/
/GPX_OUT
/TCX_OUT
RUN_DATA
Garmin_secret
Filetemp
databack
.mypy_cache

/.vscode
.idea

config.yaml
.venv/
/.vs
run.bat
sync.bat
