# Project dependencies
.yarn
.cache
*.pyc
node_modules
yarn-error.log

# Build directory
/build
/dist
.DS_Store
.sass-cache/
_posts/
_site/

.mypy_cache

/.vscode
.idea

config.yaml
.venv/

run_venv/

# gpx files
*.gpx

# data.db
run_page/data.db

# json
imported.json
package-lock.json
```

# README Preview
README_files/
README.html