httpx
gpxpy==1.4.2
stravalib==0.10.4
appdirs>=1.4.0
svgwrite>=1.1.9
colour>=0.1.5
s2sphere
arrow
geopy
polyline
sqlalchemy
tzfpy; platform_system != "Windows"
timezonefinder; platform_system == "Windows"
pyyaml
aiofiles
cloudscraper==1.2.58
tcxreader
rich
lxml
eviltransform
stravaweblib
tenacity
numpy
tzlocal
fit-tool
garmin-fit-sdk
haversine==2.8.0
garth
pycryptodome
duckdb
openai==1.76.2
cairosvg