@tailwind base;
@tailwind components;
@tailwind utilities;
@import './variables';

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  font-family: --global-font-family;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

iframe {
  border: none;
}
