@tailwind base;
@tailwind components;
@tailwind utilities;
@import './variables';

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  font-family: $global-font-family;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

iframe {
  border: none;
}

// Theme

h1,
h2,
h3,
h4,
h5 {
  color: #111;
  line-height: 1.25;
}

b,
strong {
  color: black;
  font-weight: bold;
}

nav {
  a {
    color: #333;

    &.active {
      color: #999;
    }
  }
}

p {
  color: #333;
  line-height: 1.5;

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

hr {
  border-top: none;
  border-bottom: 1px solid;
  border-color: #0003;
  margin: 2rem 0;
}

ul,
ol {
  padding-left: 1rem;
  line-height: 1.5;
  color: #333;

  li {
    line-height: 1.5;

    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
