$global-font-family: -apple-system, "Helvetica Neue", "Helvetica", "Arial",
	BlinkMacSystemFont, Segoe UI, Roboto, sans-serif;
$breakpoint-mobile: 960px;
$breakpoint-stack: 530px;

$nike: rgb(224, 237, 94);
$light: rgb(204, 204, 204);
$dark: rgb(26, 26, 26);
