$global-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;

$breakpoint-mobile: 960px;
$breakpoint-stack: 530px;

$nike: rgb(167, 142, 68);
$light: rgb(204, 204, 204);
$dark: rgb(26, 26, 26);
$map-box-line-color: rgb(71, 184, 224);
