@import '../../styles/variables.scss';

.body {
  background-color: $dark;
  color: $green;
  p,
  h1,
  h3,
  h4,
  a {
    color: $green;
    text-decoration:none;
  }

  h1 {
    font-size: 3rem;
    font-weight: 700;
  }
}
