@import "../styles/variables.scss";

.body {
  background-color: $dark;
  color: $nike;
  p,
  h1,
  h3,
  h4,
  li {
    color: $nike;
  }
}

.runTable {
  width: 100%;
  min-width: 700px;

  margin: 2rem 0 5rem 0;

  thead {
    color: $light;
    text-align: right;

    th {
      padding: 0.5rem;
    }
  }
}


.runSVG {
  height: 250%;
  // width: 100%;
  width: 100%;
  min-width: 700px;
  margin: 1rem 0 0;
}

.locationSVG {
  height: 100%;
  width:  100%;
  margin: 1rem 0 0;
  border: 0;
  padding: 0;
}

.yearSVG {
  height: 65%;
  width:  65%;
  margin: 1rem 0 0;
  border: 0;
  padding: 0;
}

.runRow {
  td {
    padding: 0.5rem;
    border: 0;
    text-align: right;

    &:first-child {
      text-align: left;
    }
  }

  &:hover {
    background-color: lighten($dark, 3%);
  }
}

.tableContainer {
  width: 100%;
  overflow-x: scroll;
}

.runDate {
  color: $light;
}

.buttons {
  width: 90%;
  margin: 0 auto;
}

.button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 10%;
  padding: 10px;
  margin-top: 1px;
  font-size: 10px;
  text-align: center;
  color: write;
  font-family: sans-serif;
  font-weight: bold;
}

.runTitle {
  height: 26px;
  width: 710px;
  position: absolute;
  bottom: 0px;
  left: 120px;
  font-family: sans-serif;
  cursor: pointer;
}
