.locationSVG {
  height: 100%;
  width: 100%;
  margin: 1rem 0 0;
  border: 0;
  padding: 0;
}

.buttons {
  font-family: var(--font-mono);
  position: absolute;
  top: 0px;
  left: 10px;
  margin: 0 auto;
  padding-right: 70px;
}

@media only screen and (max-width: 768px) {
  .buttons {
    padding-right: 10px;
    flex-wrap: wrap;
  }
}

.button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding: 0.5rem 0.4rem;
  margin-top: 0.1rem;
  font-size: 1rem;
  text-align: center;
  color: var(--color-run-date);
}

@media only screen and (max-width: 768px) {
  .button {
    padding: 0.8rem 0.3rem;
    font-size: 0.9rem;
  }
}

.selected {
  color: var(--color-primary);
}

.runTitle {
  height: 29px;
  width: 710px;
  position: absolute;
  bottom: 0px;
  left: 120px;
  cursor: pointer;
  color: var(--color-primary);
}

@media only screen and (max-width: 768px) {
  .runTitle {
    width: calc(100% - 40px);
    left: 20px;
    font-size: 0.8rem;
    bottom: 5px;
  }
}

.lights {
  position: absolute;
  margin-top: 62px;
  right: 10px;
  opacity: 0.3;
  width: 29px;
  height: 38px;
}

.lightsOn {
  height: 38px !important;
  background-image: url("data:image/svg+xml,<svg xmlns='http%3A//www.w3.org/2000/svg' height='32px' viewBox='0 0 384 512'><style>svg%7Bfill%3A%23000000%7D<%2Fstyle><path d='M297.2 248.9C311.6 228.3 320 203.2 320 176c0-70.7-57.3-128-128-128S64 105.3 64 176c0 27.2 8.4 52.3 22.8 72.9c3.7 5.3 8.1 11.3 12.8 17.7l0 0c12.9 17.7 28.3 38.9 39.8 59.8c10.4 19 15.7 38.8 18.3 57.5H109c-2.2-12-5.9-23.7-11.8-34.5c-9.9-18-22.2-34.9-34.5-51.8l0 0 0 0c-5.2-7.1-10.4-14.2-15.4-21.4C27.6 247.9 16 213.3 16 176C16 78.8 94.8 0 192 0s176 78.8 176 176c0 37.3-11.6 71.9-31.4 100.3c-5 7.2-10.2 14.3-15.4 21.4l0 0 0 0c-12.3 16.8-24.6 33.7-34.5 51.8c-5.9 10.8-9.6 22.5-11.8 34.5H226.4c2.6-18.7 7.9-38.6 18.3-57.5c11.5-20.9 26.9-42.1 39.8-59.8l0 0 0 0 0 0c4.7-6.4 9-12.4 12.7-17.7zM192 128c-26.5 0-48 21.5-48 48c0 8.8-7.2 16-16 16s-16-7.2-16-16c0-44.2 35.8-80 80-80c8.8 0 16 7.2 16 16s-7.2 16-16 16zm0 384c-44.2 0-80-35.8-80-80V416H272v16c0 44.2-35.8 80-80 80z'/><%2Fsvg>");
  margin-bottom: auto;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 1;
}

.lightsOff {
  height: 38px !important;
  background-image: url("data:image/svg+xml,<svg xmlns='http%3A//www.w3.org/2000/svg' height='32px' viewBox='0 0 384 512'><style>svg%7Bfill%3A%23000000%7D<%2Fstyle><path d='M272 384c9.6-31.9 29.5-59.1 49.2-86.2l0 0c5.2-7.1 10.4-14.2 15.4-21.4c19.8-28.5 31.4-63 31.4-100.3C368 78.8 289.2 0 192 0S16 78.8 16 176c0 37.3 11.6 71.9 31.4 100.3c5 7.2 10.2 14.3 15.4 21.4l0 0c19.8 27.1 39.7 54.4 49.2 86.2H272zM192 512c44.2 0 80-35.8 80-80V416H112v16c0 44.2 35.8 80 80 80zM112 176c0 8.8-7.2 16-16 16s-16-7.2-16-16c0-61.9 50.1-112 112-112c8.8 0 16 7.2 16 16s-7.2 16-16 16c-44.2 0-80 35.8-80 80z'/><%2Fsvg>");
  margin-bottom: auto;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 1;
}
