@import '../../styles/variables.scss';

.locationSVG {
  height: 100%;
  width: 100%;
  margin: 1rem 0 0;
  border: 0;
  padding: 0;
}

.buttons {
  position: absolute;
  top: 10px;
  left: 10px;
  margin: 0 auto;
  padding-right: 70px;
}

.button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding: 1.3rem 0.4rem;
  margin-top: 0.1rem;
  font-size: 1rem;
  text-align: center;
  color: white;
  font-family: $global-font-family;
}

.selected {
  color: $green;
}

.runTitle {
  height: 29px;
  width: 710px;
  position: absolute;
  bottom: 0px;
  left: 120px;
  font-family: $global-font-family;
  cursor: pointer;
}
