.locationSVG {
  height: 100%;
  width:  100%;
  margin: 1rem 0 0;
  border: 0;
  padding: 0;
}

.buttons {
  width: 90%;
  margin: 0 auto;
}

.button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 10%;
  padding: 10px;
  margin-top: 1px;
  font-size: 10px;
  text-align: center;
  color: write;
  font-family: sans-serif;
  font-weight: bold;
}

.runTitle {
  height: 26px;
  width: 710px;
  position: absolute;
  bottom: 0px;
  left: 120px;
  font-family: sans-serif;
  cursor: pointer;
}
