@media only screen and (max-width: 800px) {
  /* 当屏幕宽度小于 800px 时 */
  .runTable th:nth-child(3),
  .runTable td:nth-child(3) {
    display: none;
    /* 隐藏第3列 */
  }
}

@media only screen and (max-width: 700px) {
  /* 当屏幕宽度小于 700px 时 */
  .runTable th:nth-child(5),
  .runTable td:nth-child(5) {
    display: none;
    /* 隐藏第5列 */
  }
}

.runTable {
  width: 100%;
  margin: 2rem 0 5rem 0;
  color: var(--color-run-table-thead);
  background-color: var(--color-background);
  font-family: var(--font-mono);
  :is(thead) {
    color: var(--color-run-table-thead);
    text-align: right;

    :is(th) {
      padding: 0.5rem;
    }
  }
  :is(th, td):nth-child(1) {
    width: 137px;
    text-align: left;
  }

  :is(th, td):nth-child(2) {
    width: 91px;
  }

  :is(th, td):nth-child(3) {
    width: 112px;
  }

  :is(th, td):nth-child(4) {
    width: 60px;
  }

  :is(th, td):nth-child(5) {
    width: 100px;
  }
}

.runRow {
  cursor: pointer;
  :is(td) {
    padding: 0.5rem;
    border: 0;
    text-align: right;
  }

  &:hover {
    background-color: var(--color-run-row-hover-background);
  }
}

.selected {
  color: var(--color-primary);
}

.tableContainer {
  width: 100%;
  overflow-x: auto;
}

.runDate {
  color: var(--color-run-date);
}
