@import '../../styles/variables.scss';

@media only screen and (max-width: 700px) {

  /* 当屏幕宽度小于 700px 时 */
  .runTable th:nth-child(4),
  .runTable td:nth-child(4) {
    display: none;
    /* 隐藏第四列 */
  }
}

.runTable {
  width: 100%;
  font-variant: tabular-nums;
  margin: 2rem 0 5rem 0;

  thead {
    color: $light;
    text-align: right;

    th {
      padding: 0.5rem;
    }
  }
}

.runRow {
  td {
    padding: 0.5rem;
    border: 0;
    text-align: right;

    &:first-child {
      text-align: left;
    }
  }

  &:hover {
    background-color: lighten($dark, 3%);
  }
}

.selected {
  color: red;
}

.tableContainer {
  width: 100%;
  overflow-x: scroll;
}

.runDate {
  color: $light;
}
