@media only screen and (max-width: 800px) {
  /* 当屏幕宽度小于 800px 时 */
  .runTable th:nth-child(3),
  .runTable td:nth-child(3) {
    display: none;
    /* 隐藏第3列 */
  }
}

@media only screen and (max-width: 700px) {
  /* 当屏幕宽度小于 700px 时 */
  .runTable th:nth-child(5),
  .runTable td:nth-child(5) {
    display: none;
    /* 隐藏第5列 */
  }
}

.runTable {
  width: 100%;
  margin: 2rem 0 5rem 0;
  color: var(--color-run-table-thead);
  background-color: var(--color-background);
  font-family: var(--font-mono);
  table-layout: auto;
  :is(thead) {
    color: var(--color-run-table-thead);

    :is(th) {
      padding: 0.5rem;
      white-space: nowrap;
    }
    
    :is(th):nth-child(1) {
      text-align: left;
    }
    
    :is(th):nth-child(2),
    :is(th):nth-child(3),
    :is(th):nth-child(4),
    :is(th):nth-child(5) {
      text-align: center;
    }
    
    :is(th):last-child {
      text-align: right;
    }
  }
  :is(th, td):nth-child(1) {
    text-align: left;
    white-space: nowrap;
  }

  :is(th, td):nth-child(2) {
    white-space: nowrap;
    text-align: center;
  }

  :is(th, td):nth-child(3) {
    white-space: nowrap;
    text-align: center;
  }

  :is(th, td):nth-child(4) {
    white-space: nowrap;
    text-align: center;
  }

  :is(th, td):nth-child(5) {
    white-space: nowrap;
    text-align: center;
  }
  
  :is(th, td):last-child {
    text-align: right;
  }
}

.runRow {
  cursor: pointer;
  :is(td) {
    padding: 0.5rem;
    border: 0;
  }
  
  :is(td):nth-child(1) {
    text-align: left;
  }
  
  :is(td):nth-child(2),
  :is(td):nth-child(3),
  :is(td):nth-child(4),
  :is(td):nth-child(5) {
    text-align: center;
  }
  
  :is(td):last-child {
    text-align: right;
  }

  &:hover {
    background-color: var(--color-run-row-hover-background);
  }
}

.selected {
  color: var(--color-primary);
}

.tableContainer {
  width: 100%;
  overflow-x: auto;
}

.runDate {
  color: var(--color-run-date);
}
