name: CI

on: [push, pull_request]

jobs:
  python_lint_and_test:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: ['3.12', '3.13', '3.14']
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Set up Python ${{ matrix.python-version }}
        id: setup_python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
          cache-dependency-path: 'requirements-dev.txt'

      - name: Install dependencies
        run: |
          pip install -r requirements-dev.txt

      - name: Run GPX sync test
        run: |
          # make sure the gpx_sync.py script is executable
          python run_page/gpx_sync.py

      - name: Check formatting (black)
        run: black . --diff --color && black . --check

      - name: Lint with Ruff
        run: |
          pip install ruff
          ruff check .

  node_lint_and_test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [20, 22]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
      - name: Enable corepack
        run: npm install -g corepack@latest && corepack enable pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Run check and build
        run: |
          pnpm run check
          pnpm run lint
          pnpm run build
